<div class="response">
	@* <p class="errorWarning">Test</p>
	<p class="successMessage">test</p>
 *@
    @if (ViewData["Errors"] != null)
    {
        @foreach (var error in (IEnumerable<string>)ViewData["Errors"])
        {
            var id = Guid.NewGuid();
            <p class="errorWarning" id="@id">@error</p>
            <script type="text/javascript">responseAdded("@id")</script>
        }
    }

    @if (ViewData["SuccessMessage"] != null)
    {
        <p class="successMessage">@ViewData["SuccessMessage"]</p>
        @* foreach (var success in (IEnumerable<string>)ViewData["SuccessMessage"])
        {
            var id = Guid.NewGuid();
            
            @* <script type="text/javascript">responseAdded("@id")</script> *@
    }
</div>